.container{
    text-align: center;
}
.imgContainer{
    display: inline-block;
}
.img{
    width:200px;
    height: 250px;
    padding: 0.5em;
}
.lists{
    padding-left: 0;
}
.lists li{
    list-style: none;
}